page-principal {
    .ava {
        width: 30px;
        height: 30px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-bottom: 18px;
    margin-right: 10px;
    margin-left: -12px;
    margin-top:-4px;
  }
}