<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
           </button>
        <ion-title>Perfil</ion-title>
        <ion-buttons end>
            <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
        </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>

    <ion-card>
        <ion-item>
        <ion-avatar item-start>
        <img *ngIf="hombre" src="assets/imgs/gmascu.jpeg">
        <img  *ngIf="mujer" src="assets/imgs/gfeme.jpeg">
        </ion-avatar>
        <h2>Nombre: {{user.nombre}}  {{user.apellido}}</h2>
            <p>{{user.correo}}</p>
        </ion-item>
        <img *ngIf="hombre" src="assests/imgs/masculino.png">
        <img *ngIf="mujer" src="assests/imgs/femenino.png">
    </ion-card>
     <ion-item>
         <p>Telefono: {{user.telefono}}</p>
         <p>Dirección {{user.direccion}}</p>
     </ion-item>
    <div text-center>
        <button ion-button >Actualizar Preferencias</button>
    </div>
</ion-content>