<!--
  Generated template for the SugerenciasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
       </button>
    <ion-title>Comentarios</ion-title>
    <ion-buttons end>
        <button ion-button icon-only>
    <ion-icon name="notifications"></ion-icon>
    </button>
    </ion-buttons>
</ion-navbar>
<ion-toolbar color="primary" no-border-top>
  <ion-segment [(ngModel)]="comentarios">
    <ion-segment-button style="color:white" value="historico">
      Tus Comentarios
    </ion-segment-button>
    <ion-segment-button style="color:white" value="respuestas">
      Respuestas
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
</ion-header>


<ion-content padding>
  <div [ngSwitch]="comentarios">
  <ion-list *ngSwitchCase="'historico'">
    <ion-card *ngFor="let come of Comentario">
        <div *ngIf= "come.id_cliente==id_cli">
             <div *ngFor="let t of tcomentarios">
                <div *ngIf= "come.id_tipo_comentario==t.id">
                  <ion-item>
                   <h2>Tipo: {{t.nombre}}</h2>
                   <p>Fecha: {{come.fecha_creacion | date: 'dd/MM/yyyy   H:mm' }}</p>
                   </ion-item>
                      <ion-card-content>
                       <p>Contenido: {{come.descripcion}}</p>
                      <ion-item>
                      <p item-end>Estatus: {{come.estatus}}</p>
                     </ion-item>
                     </ion-card-content>
                </div>
             </div>
        </div>
    </ion-card>
  </ion-list>
  <ion-list *ngSwitchCase="'respuestas'">
    <div *ngFor="let c of Comentario" >
        <div *ngIf= "c.id_cliente==id_cli">
           <ion-card *ngFor="let r of RSugerencias" >
             <div *ngIf= "r.id_comentario==c.id">
                <ion-item>
                 <h2>Fecha: {{r.fecha_creacion | date: 'dd/MM/yyyy   H:mm' }}</h2>
                </ion-item>
                 <ion-card-content>
                 <p>Contenido: {{r.descripcion}}</p>
                <ion-item>
                  <button ion-button small item-end>Eliminar</button>
              </ion-item>
             </ion-card-content>
            </div>
          </ion-card>
       </div>
   </div>
 </ion-list>
</div>
<ion-fab right bottom style="margin-bottom:5px">
    <button ion-fab color="primary" (click)='gotoNuevoComentario()'>
    <ion-icon name="mail"></ion-icon>
  </button>
</ion-fab>
</ion-content>
