<!-- Generated template for the NavbarComponent component -->
<ion-header>
    <ion-navbar color="primary">
        <ion-buttons start>
            <button ion-button icon-only>
          <ion-icon name="person"></ion-icon>
        </button>
        </ion-buttons>

        <ion-title>Mystique</ion-title>

        <ion-buttons end>
            <button ion-button icon-only>
                <ion-icon name="notifications"></ion-icon>
              </button>
            <button ion-button icon-only>
          <ion-icon name="chatbubbles"></ion-icon>
        </button>
        </ion-buttons>

    </ion-navbar>
</ion-header>