<!--
  Generated template for the SolicitudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>Solicitud</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div *ngIf="catego">
        <ion-list>
            <ion-list-header>
                <h2 text-center>Seleccione una categoria</h2>
            </ion-list-header>
            <button ion-item *ngFor="let item of categoria,let i=index " (click)="siguiente(item.id)"> {{item.nombre}}</button>
            <button ion-item (click)="verlist()">Todos</button>
        </ion-list>
    </div>
    <div *ngIf="visible">
        <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()" placeholder="Buscar por nombre, tipo"></ion-searchbar>
        <div *ngIf="searching" class="spinner-container">
            <ion-spinner></ion-spinner>
        </div>
        <h2 text-center>Seleccionar servicios</h2>
        <ion-list>
            <ion-item *ngFor="let item of serviciosmostrar ,let i=index ">
                <div item-content>
                    <h2>{{item.nombre}}</h2>
                </div>
                <ion-toggle [(ngModel)]="servicios[i].select" (ngModelChange)="ver(i)" color="secondary" checked="false" item-end></ion-toggle>
            </ion-item>
        </ion-list>

        <ion-fab right bottom style="margin-bottom:10px; margin-left:10px">
            <button ion-fab color="primary" (click)="verPreferencia()">
                    <ion-icon name="arrow-forward"></ion-icon>
                  </button>
        </ion-fab>

    </div>
    <div *ngIf="preferenciaAtencion">
        <h2 text-center>Indique si desea ser atendido por un hombre o una mujer</h2>
        <ion-list>
            <button ion-button color="secondary" (click)="Sexo('h')" block>Hombre</button>

            <button ion-button color="secondary" (click)="Sexo('m')" block>Mujer</button>

            <button ion-button color="secondary" (click)="Sexo('c')" block>Cualquiera</button>
        </ion-list>
    </div>
    <div *ngIf="empleadovisible">
        <h2 text-center>Selecciona empleado</h2>
        <ion-list>
            <ion-item *ngFor="let empe of emplever;let i=index">
                <ion-thumbnail item-start>
                    <img src="{{url_file}}empleado/{{empe.id}}.{{empe.imagen}}">
                </ion-thumbnail>
                <div item-content>
                    <h2 color="primary">{{empe.nombre}}</h2>
                    <p>Telefono: {{empe.telefono}}</p>
                </div>
                <ion-toggle color="secondary" [(ngModel)]="emplever[i].ele" checked="false" (ngModelChange)="AsignarEmpleado(empe.id,i)" item-end></ion-toggle>
            </ion-item>
        </ion-list>
        <ion-row>
            <ion-col col-8 col-md-8>
            </ion-col>
            <ion-col col-4 col-md-4>
                <button ion-button type="submit" (click)="gotoGuardar()"> Enviar</button>
            </ion-col>
        </ion-row>

    </div>
</ion-content>